# pandas tutorial

In [14]:
import numpy as np
import pandas as pd

In [15]:
my_se = pd.Series([1,2,3],index=['coloumn1','coloumn2','coloumn3'])

In [16]:
my_se

coloumn1    1
coloumn2    2
coloumn3    3
dtype: int64

In [17]:
# show the values
my_se.values

array([1, 2, 3], dtype=int64)

In [18]:
# show the index
my_se.index

Index(['coloumn1', 'coloumn2', 'coloumn3'], dtype='object')

In [19]:
my_se.coloumn1

1

In [20]:
my_se['coloumn1']

1

In [21]:
my_se[my_se>=2]

coloumn2    2
coloumn3    3
dtype: int64

In [22]:
# Change the index name
my_se.rename({'coloumn1':'a', 'coloumn2':'b', 'coloumn3':'c'})

a    1
b    2
c    3
dtype: int64

In [23]:
arr = np.array([[2,4,5,6],['s','f','g','h'],[2,3,7,4],[8,5,2,4]])

In [24]:
td = pd.DataFrame(arr,index=['value1','value2','value3','value4'],columns=['col1','col2','col3','col4'])

In [25]:
td

       col1 col2 col3 col4
value1    2    4    5    6
value2    s    f    g    h
value3    2    3    7    4
value4    8    5    2    4

In [27]:
# index
td.index

Index(['value1', 'value2', 'value3', 'value4'], dtype='object')

In [28]:
# columns
td.columns

Index(['col1', 'col2', 'col3', 'col4'], dtype='object')

In [30]:
# Values
td.values

array([['2', '4', '5', '6'],
       ['s', 'f', 'g', 'h'],
       ['2', '3', '7', '4'],
       ['8', '5', '2', '4']], dtype=object)

### loc and Iloc

In [32]:
# If I want to rich to spesific value in data fram i can use one of them
td.loc['value1','col1']

'2'

In [33]:
# iloc
td.iloc[0,0]

'2'