In [1]:
import pandas as pd

In [2]:
pd.DataFrame({'x':[150,160],'y':[450,690]})

     x    y
0  150  450
1  160  690

In [5]:
pd.DataFrame({'Bob':['I liked it','it was awful'],'Sue':['Pretty good',"bland"]},index=['Product A','Product B'])

                    Bob          Sue
Product A    I liked it  Pretty good
Product B  it was awful        bland

In [ ]:
# we have to Main Object in pandas:
# Serias
# Datafram


# Serias is just a list nothing more